body {
  min-width: 300px;
}

/* mudar a cor dos link's <a></a> */
a:link {
  color: #28a745;
}
a:visited {
  color: #28a745;
}
a:hover {
  color: #24973f;
}
a:active {
  color: #24973f;
}


/* conteudo da página*/
.content {
  width: 100%;
}

/* conteudo da dashboard com animação */
.content-page {
  margin-left: 270px;
  transition: all 0.3s;
}

/* Class de abrir e fechar menu sidebar*/
.toggled-content {
    margin-left: 0px;
}
  
/* quando a sidebar é aticvada (em ecrãs pequenos), mete opacidade no conteudo */
.page-opacity{
  opacity: 0.3;
}

/*-------------- DataTables CSS -------------- */

#userTable_wrapper .form-control:focus{ 
  border-color: #24973f;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#userTable_paginate .pagination .page-item.active .page-link {
   background-color: #24973f;
   border-color: #24973f;
}
.pagination .page-link:hover{
  color: #1b8033;
  background-color: #cbe4d1;
}
.page-link:focus{
  box-shadow: none;
}
.table tbody{
  transition: all 0.3s;
}
/*-------------------------------*/


@media (max-width: 810px) {
  .content-page {
    margin-left: 0px;
  }
  .toggled-content {
    margin-left: 270px;
  }
}


@media (max-width: 710px) {
  .toggled-content {
    margin-left: 0px;
  }
}