/*Card do sensores da dashboard*/
.card_sensores {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* alteração no espaçamento entre as card's principais*/
.col_card{
    margin-bottom: 10px;
    padding: 0 8px;
}
.row_cards{
    padding: 0 7px;
}


/* colocar link(historico) da card à direita e como botão*/
.span_card{
    float: right;
    padding: 2px 6px;
    border: 1px solid #28a745;
    border-radius: 5px;
}
.span_card:hover, .span_icon:hover{
    background-color: #28a7461c;
}
/* icon do link/histórico*/
.span_icon{
    display: none !important;
    float: right;
    padding: 5px 7px;
    border: 1px solid #28a745;
    border-radius: 5px;
}
 

/* linha de separaçã das CARD's*/
.border-top{
    border-top: 1px solid #c2c2c2 !important;
}

/* alinha ao centro verticalmete caso haja 'queba linha'*/
.table td, .table th{
    vertical-align: middle !important;
}




@media (max-width: 1370px) {
    .span_icon{
        display: inline-block !important;
    }
    .span_card{
        display: none;
    }
}

@media (max-width: 1198px) {
    .span_icon{        
        display: none !important;
    }
    .span_card{
        display: inline-block !important;
    }
}

  