/* alteração no espaçamento entre as card's principais*/
.col_card{
    margin-bottom: 10px;
    padding: 0 8px;
}
.row_cards{
    padding: 0 7px;
}

/* colocar link da card à direita*/
.span_card{
    float: right;
}
