/* mudar a cor dos link's <a></a> */
a:link {
    color: rgb(0, 165, 0);
}
a:visited {
    color: rgb(6, 134, 6);
}
a:hover {
    color: rgb(0, 165, 0);
}
a:active {
    color: green;
}

.card_sensores{
    padding-top: 0px;
    padding-bottom: 0px;
}

/* formatação das tabelas */
tbody th{
    color: green;
    font-weight: normal;
}
.table tr {
    border-bottom: 1px solid rgb(226, 226, 226);
}
