.navbar{
    position: sticky;
}
.navbar_name{
    color: white;
    font-size: medium;
    margin-right: 30px;
}

/* formatar o 'active' da navbar */
.active{
    font-weight: bold;
    border-bottom: 2px solid rgb(44, 211, 44);
}
.breadcrumb .active{ /* remover alteração no 'active' na breadcrumb */
    font-weight: normal;
    border-bottom: none;
}

/* icon do button */
.icon{
    padding-right: 6px;
    padding-left: 0px;
}
.icon:hover{
    color: black;
}
.btn_logout{
    float: left;
}